.container {

}

.gridContainer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.box h2 {
    margin-top: 0;
}

.box p {
    margin-bottom: 0;
}


@media screen and (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}


@media screen and (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
    }
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.gridImg {
    width: 100px;
    height: 100px;
}


.gridTitle {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0.5em;
    margin-bottom: 0.3em;
}

.gridContent {
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
    margin-top: 10px;
}
