.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}


.button {
    width: 80%;
}

.input {
    width: 80%;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 0;
        margin: 1.5rem auto;
        max-width: 80%;
    }

    .input {
        width: 70%;
    }

    .button {
        width: 30%;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        gap: 0;
        padding: 2rem;
        max-width: 55%;
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }

    .input {
        font-size: 1.2rem;
        height: 3rem;
    }

    .button {
        font-size: 1.2rem;
        height: 3rem
    }
}