.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.button {
    width: 80%;
}

.input {
    width: 80%;
}